<div class="featured">
    <br><br>
    <h2 style="margin: 0">Fake Robotics Startups to Watch</h2>
    <div>
        <h3 style="margin-bottom: 0"><%= card.company.name %></h3>
        <%= card.address.city %>, <%= card.address.state %><br>
        <blockquote><i><%= card.company.catchPhrase %></i></blockquote>
        For more information email: <%= card.email %>
        <br><br>
        <strong>CEO: <%= card.name %></strong>
        <br>
        <img src="<%= avatar %>" alt="CEO picture">
    </div>
</div>